{% extends "base.html" %}
{% block head %}
<meta name="keywords" content="
  {%- if GLOBAL_KEYWORDS -%}
    {{ GLOBAL_KEYWORDS|join(', ') }}
    {%- if article.tags -%}{{', '}}{%- endif -%}
  {%- endif -%}
  {{article.tags|join(', ') }}">

<meta property="og:title" content="{{ article.title }}">
<meta property="og:type" content="website">
{% if article.ogimage %}
<meta property="og:image" content="http://{{ GOOGLE_ANALYTICS_PROP }}/{{ article.ogimage }}"/>
<meta property="og:image:secure_url" content="https://{{ GOOGLE_ANALYTICS_PROP }}/{{ article.ogimage }}"/>
{% endif %}
<meta property="og:site_name" content="https://{{ GOOGLE_ANALYTICS_PROP }}">
<meta property="og:description" content="{{ article.summary|striptags|e }}">
<meta property="og:url" content="https://{{ GOOGLE_ANALYTICS_PROP }}/articles/{{ article.slug }}.html">

{% endblock %}
{% block metatitle %}{{ article.title|striptags|escape }}{% endblock %}
{% block title %}{{ article.title|striptags|escape }} - {{ super() }}{% endblock %}
{% block description %}{{ article.title|striptags|escape }} | {{ article.content|striptags|truncate(154-article.title|length)|escape }}{% endblock %}

{% block content %}
<article>
  <div class="blog-item-wrap">
    <div class="post-inner-content">
      <header class="entry-header page-header">
        <span class="cat-item"><time datetime="{{ article.date }}">{{ article.locale_date }}</time></span>
        <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
      </header><!-- .entry-header -->
      <div class="fb-like" data-href="{{ SITEURL }}/{{ article.url }}" data-layout="standard" data-action="like" data-show-faces="false" data-share="true"></div>
      <div class="entry-content">
        {{ article.content }}
      </div><!-- .entry-content -->
      <br /><br />
      <div class="article_meta">
        {% if TAG_URL and article.tags %}
        Tags:
          {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</article><!-- #post-## -->
{% endblock %}

{% block scripts %}
{{ super() }}
{% if FUZZY_DATES %}
<script type="text/javascript">window.addEventListener("load", lw_timeago);</script>
{% endif %}
{% endblock %}
